
@backgroundColor: #3b487b;
@addButton: #6ece8b;
@delete: #ff7575;

@font-face {
  font-family: 'alwaysforever';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alwaysforever.ttf'); /* IE9 Compat Modes */
}
body{
  margin: 0px;
  background-color: @backgroundColor;
}
.App {
  text-align: center;
  background-color: @backgroundColor;
  .App-header {
    background-color: darken(@backgroundColor, 20%);
    padding: 20px;
    color: white;
    font-family: alwaysforever;
    .App-title {
      font-size: 4.5em;
    }
  }
  .App-input-section{
    width: 600px;
    margin: 0px auto;
    padding: 20px;
    border: 3px solid #fff;
    border-radius: 10px;
    background-color: darken(@backgroundColor, 10%);
    margin-bottom: 15px;
    .App-input, .App-input-description{
      width: 90%;
      padding: 14px;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .App-submit{
      cursor: pointer;
      width: 200px;
      padding: 10px;
      font-size: 30px;
      background-color: @addButton;
      border: 1px solid darken(@backgroundColor, 50%);
      color: #fff;
      border-radius: 10px;
      &.disabled{
        background-color: #ccc;
      }
    }
  }
  .App-currentList{
    ul{
      list-style: none;
      width: 600px;
      margin: 0px auto;
      text-align: left;
      padding: 20px;
      color: #fff;
      font-family: sans-serif;
      li{
        padding: 10px;
        font-size: 1.6em;
        .App-remove{
          float: right;
          color: @delete;
          cursor: pointer;
        }
        .App-expand{
          padding-right: 10px;
          cursor: pointer;
        }
      }
      li:not(:last-child){
        border-bottom: 1px solid lighten(@backgroundColor, 20%);
      }
    }
  }
} 