@font-face {
  font-family: 'alwaysforever';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alwaysforever.ttf');
  /* IE9 Compat Modes */
}
body {
  margin: 0px;
  background-color: #3b487b;
}
.App {
  text-align: center;
  background-color: #3b487b;
}
.App .App-header {
  background-color: #1a2036;
  padding: 20px;
  color: white;
  font-family: alwaysforever;
}
.App .App-header .App-title {
  font-size: 4.5em;
}
.App .App-input-section {
  width: 600px;
  margin: 0px auto;
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: #2a3459;
  margin-bottom: 15px;
}
.App .App-input-section .App-input,
.App .App-input-section .App-input-description {
  width: 90%;
  padding: 14px;
  font-size: 20px;
  margin-bottom: 20px;
}
.App .App-input-section .App-submit {
  cursor: pointer;
  width: 200px;
  padding: 10px;
  font-size: 30px;
  background-color: #6ece8b;
  border: 1px solid #000000;
  color: #fff;
  border-radius: 10px;
}
.App .App-input-section .App-submit.disabled {
  background-color: #ccc;
}
.App .App-currentList ul {
  list-style: none;
  width: 600px;
  margin: 0px auto;
  text-align: left;
  padding: 20px;
  color: #fff;
  font-family: sans-serif;
}
.App .App-currentList ul li {
  padding: 10px;
  font-size: 1.6em;
}
.App .App-currentList ul li .App-remove {
  float: right;
  color: #ff7575;
  cursor: pointer;
}
.App .App-currentList ul li .App-expand {
  padding-right: 10px;
  cursor: pointer;
}
.App .App-currentList ul li:not(:last-child) {
  border-bottom: 1px solid #6676b6;
}
